:host {
  display: block;
  --todo-id-background: darkblue;
  --todo-id-primary: #ccc;
  --default-background: #ddd;
  --default-primary: #333;
  box-sizing: border-box;
}

.todo {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
  background-color: var(--default-background);
  color: var(--default-primary);
  border-radius: 1px;
  border-radius: 15px;
  box-sizing: border-box;
}
.todo-section {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  vertical-align: middle;
}
.todo-id {
  background-color: var(--todo-id-background);
  color: var(--default-background);
  padding: 0.25rem 1.5rem;
  border-radius: 15px;
}
.todo-task {
  min-width: 300px;
  text-align: justify;
  padding: 0.25rem 1rem;
}
.todo-action {
  padding: 0.25rem 1rem;
}
