:host {
  display: block;
  --color-primary: rgba(255, 255, 255, 0.9);
  --color-primary-placeholder: rgba(255, 255, 255, 0.5);
}
.message-input {
  background: rgba(40, 40, 40, 0.4);
  border: 1px solid black;
  outline: none !important;
  resize: none;
  color: var(--color-primary);
  /* font-size: 11px; */
  margin: 0;
  padding: 2rem;
  /* width: 265px; */
  border-radius: 15px;
  width: 100%;
  min-height: 4rem;
  box-sizing: border-box;
}
textarea::placeholder {
  color: var(--color-primary-placeholder);
}

textarea:focus:-webkit-placeholder {
  color: transparent;
}
