:host {
  display: block;
}

.button {
  color: #fff;
  border: none;
  background: #248a52;
  text-transform: uppercase;
  padding: 0.25rem 1.5rem;
  border-radius: 15px;
  box-sizing: border-box;
  transition: background 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}
button:hover {
  background: #1d7745;
  box-shadow: none;
}
